---
---
$body-text-color: #303030 !default;
$body-link-color: #006060 !default;
$blockquote-text-color: #606060 !default;
$header-bg-color: #800080 !default;
$header-bg-color-secondary: #008080 !default;
@import "{{ site.theme }}";
